<nav class="navbar">
  <div class="navbar__container">
    <a class="navbar__brand" routerLink="/login">
      <img src="/assets/images/logo.png" class="navbar__logo" alt="Logotipo Adidas">
    </a>

    <ul class="navbar__nav">
      @if (!userStore.isUserAuthenticated()) {
        <li class="navbar__item">
          <a class="navbar__link"
            routerLink="/login"
            routerLinkActive="navbar__link--active">
            Iniciar sesión
          </a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link"
            routerLink="/register"
            routerLinkActive="navbar__link--active">
            Registrarse
          </a>
        </li>
      }

      @if (userStore.isUserAuthenticated()) {
        <li class="navbar__item">
          <a class="navbar__link"
            (click)="logout()">
            Cerrar sesión
          </a>
      </li>
      }

      <li class="navbar__item">
        <a class="navbar__link"
          routerLink="/articles/list"
          routerLinkActive="navbar__link--active">
          Lista de artículos
        </a>
      </li>

      <li class="navbar__item">
        <a class="navbar__link"
          routerLink="/articles/new-article"
          routerLinkActive="navbar__link--active">
          Crear artículo
        </a>
      </li>
    </ul>
  </div>
</nav>
