<app-navbar (routeChange)="navbarChangeView($event)"></app-navbar>

<!-- INICIO / ARTÍCULOS -->
@if (currentView === 'inicio' || currentView === 'articulos') {
  <app-article-list></app-article-list>
}

<!-- NUEVO ARTÍCULO TEMPLATE -->
@if (currentView === 'template') {
  <app-article-new-template></app-article-new-template>
}

<!-- NUEVO ARTÍCULO REACTIVO -->
@if (currentView === 'reactive') {
  <app-article-new-reactive></app-article-new-reactive>
}

<!-- LOGIN -->
@if (currentView === 'login') {
  <app-login></app-login>
}

<router-outlet />
