body {
  font-family: 'Poppins', sans-serif;
}

.article-form,
.login-form,
.register-form {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;

  &__title {
    text-align: center;
    color: #333;
    margin-bottom: 2rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    &--checkbox {
      flex-direction: row;
      align-items: center;
    }
  }

  &__label {
    font-weight: bold;
    color: #555;
  }

  &__input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;

    &:focus {
      outline: none;
      border-color: #333;
    }
  }

  &__checkbox-label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: normal;
    cursor: pointer;
  }

  &__checkbox {
    margin: 0;
  }

  &__error {
    color: #e01010;
  }

  &__button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }

  &__alert {
  text-align: center;
  margin-top: 2rem;

  &--success {
    color: #28a745;
  }
  &--error {
    color: #e01010;
  }
}
}
